<%- include('../parts/header.ejs', { title: 'Detail Penjualan - TITIKOMA' }) %>
<%- include('../parts/navbar.ejs') %>
<%- include('../parts/sidebar.ejs', { position: 'history-order' }) %>

<div class="pt-[90px] h-auto shadow-md py-3 lg:ml-72">
    <div class="mx-[30px] text-gray-800 font-light">
        <a href="/history-order" class="text-lg font-bold hover:underline hover:underline-offset-1">Histori Penjualan</a>
        >
        <a href="/history-order" class="text-lg font-bold hover:underline hover:underline-offset-1"><%= productId %></a>
    </div>
</div>

<div class="flex flex-col h-screen justify-between font-poppins lg:ml-72">
    <div class="grid grid-cols-12 gap-4 p-[30px]">
        <div class="h-auto col-span-12 mt-4 p-4 rounded-md shadow-md">
            <div class="flex flex-row justify-between">
                <div class="flex flex-row">
                    <div class="flex-none py-2 w-[10px] bg-slate-600 rounded-md"></div>
                    <div class="flex-none flex flex-col">
                        <h1 class="flex-none ml-3 my-auto">Ubah status order</h1>
                        <form action="">
                            <div class="h-auto flex ml-3 mt-1 pb-2 flex-col">
                                <select class="border rounded-md border-gray-500 p-1 pl-2">
                                    <option value="active">Aktif</option>
                                    <option value="process">Proses</option>
                                    <option value="done">Selesai</option>
                                </select>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="h-auto col-span-12 mt-4 p-4 rounded-md shadow-md">
            <div class="flex flex-col md:justify-between md:flex-row">
                <div class="flex flex-row">
                    <div class="flex-none mr-3 py-2 w-[10px] bg-slate-600 rounded-md"></div>
                    <div class="flex-none flex flex-col md:justify-between">
                        <h1>ID Transaksi</h1>
                        <p class="text-gray-400"><%= productId %></p>
                        <p>Status: <span class="text-green-300">Aktif</span></p>
                    </div>
                </div>
                <div class="flex flex-row mt-3 md:mt-0">
                    <div class="flex-none mr-3 py-2 w-[10px] bg-slate-600 rounded-md"></div>
                    <div class="flex-none flex flex-col md:justify-between">
                        <h1>Metode Pembayaran</h1>
                        <p class="text-gray-400">E-Wallet</p>
                        <p class="text-gray-400">ShopeePay</p>
                        <p class="text-gray-400">082139113940</p>
                    </div>
                </div>
                <div class="flex flex-row mt-3 md:mt-0">
                    <div class="flex-none mr-3 py-2 w-[10px] bg-slate-600 rounded-md"></div>
                    <div class="flex-none flex flex-col">
                        <h1>Customer</h1>
                        <p class="text-gray-400">Ryan Adi</p>
                        <p class="text-gray-400">ryan@semicolon.coffee</p>
                        <p class="text-gray-400">08213912123</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="h-auto col-span-12 mt-4 p-4 rounded-md shadow-md">
            <div class="flex flex-row justify-between">
                <div class="flex flex-row">
                    <div class="flex-none py-2 w-[10px] bg-slate-600 rounded-md"></div>
                    <h1 class="flex-none ml-3 my-auto">Produk yang dibeli</h1>
                </div>
            </div>
            <div class="overflow-hidden flex flex-col">
                <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
                    <div class="py-2 inline-block min-w-full sm:px-6 lg:px-8">
                        <div class="overflow-hidden shadow-md rounded-md">
                            <table class="min-w-full">
                                <thead class="bg-gray-300">
                                <tr>
                                    <th scope="col" class="px-6 py-3 text-sm text-left text-gray-800 font-medium tracking-wider uppercase">
                                        ID Produk
                                    </th>
                                    <th scope="col" class="px-6 py-3 text-sm text-left text-gray-800 font-medium tracking-wider uppercase">
                                        Nama Produk
                                    </th>
                                    <th scope="col" class="px-6 py-3 text-sm text-left text-gray-800 font-medium tracking-wider uppercase">
                                        Harga
                                    </th>
                                    <th scope="col" class="px-6 py-3 text-sm text-left text-gray-800 font-medium tracking-wider uppercase">
                                        qty
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr class="bg-white border-b">
                                    <td class="py-4 px-6 text-sm font-medium text-gray-800 whitespace-nowrap">
                                        SEMICOLON-001
                                    </td>
                                    <td class="py-4 px-6 text-sm font-medium text-gray-800 whitespace-nowrap">
                                        Potato Wedges
                                    </td>
                                    <td class="py-4 px-6 text-sm font-medium text-gray-800 whitespace-nowrap">
                                        Rp 22,500
                                    </td>
                                    <td class="py-4 px-6 text-sm font-medium text-gray-800 whitespace-nowrap">
                                        1
                                    </td>
                                </tr>
                                <tr class="bg-white border-b">
                                    <td class="py-4 px-6 text-sm font-medium text-gray-800 whitespace-nowrap">
                                        SEMICOLON-004
                                    </td>
                                    <td class="py-4 px-6 text-sm font-medium text-gray-800 whitespace-nowrap">
                                        Siomay
                                    </td>
                                    <td class="py-4 px-6 text-sm font-medium text-gray-800 whitespace-nowrap">
                                        Rp 13,000
                                    </td>
                                    <td class="py-4 px-6 text-sm font-medium text-gray-800 whitespace-nowrap">
                                        2
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="h-auto col-span-12 mt-4 p-4 rounded-md shadow-md">
            <div class="flex flex-col md:justify-between md:flex-row">
                <div class="flex flex-row">
                    <div class="flex-none mr-3 py-2 w-[10px] bg-slate-600 rounded-md"></div>
                    <div class="flex-none flex flex-col md:justify-between">
                        <h1>Total belum pajak</h1>
                        <p class="text-red-400">Rp 48,500</p>
                    </div>
                </div>
                <div class="flex flex-row mt-3 md:mt-0">
                    <div class="flex-none mr-3 py-2 w-[10px] bg-slate-600 rounded-md"></div>
                    <div class="flex-none flex flex-col md:justify-between">
                        <h1>Diskon</h1>
                        <p class="text-red-400">Rp 5,000</p>
                    </div>
                </div>
                <div class="flex flex-row mt-3 md:mt-0">
                    <div class="flex-none mr-3 py-2 w-[10px] bg-slate-600 rounded-md"></div>
                    <div class="flex-none flex flex-col md:justify-between">
                        <h1>Pajak</h1>
                        <p class="text-red-400">10%</p>
                    </div>
                </div>
                <div class="flex flex-row mt-3 md:mt-0">
                    <div class="flex-none mr-3 py-2 w-[10px] bg-slate-600 rounded-md"></div>
                    <div class="flex-none flex flex-col">
                        <h1>Total</h1>
                        <p class="text-green-400">Rp 52,850</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="bg-gray-700 p-5 font-poppins">
        <p class="text-white m-auto text-center lg:text-left">TITIKOMA By Semicolon; Team</p>
    </div>
</div>

<%- include('../parts/footer.ejs') %>