<%- include('../parts/header.ejs', { title: 'Detail Penjualan - TITIKOMA' }) %>
<%- include('../parts/navbar.ejs') %>
<%- include('../parts/sidebar.ejs', { position: 'history-order' }) %>

<div class="pt-[90px] h-auto shadow-md py-3 lg:ml-72">
    <div class="mx-[30px] text-gray-800 font-light">
        <a href="/history-order" class="text-lg font-bold hover:underline hover:underline-offset-1">Histori Penjualan</a>
        >
        <a href="/history-order/<%- r._id %>" class="text-lg font-bold hover:underline hover:underline-offset-1"><%- r.orderId %></a>
    </div>
</div>

<div class="flex flex-col h-screen justify-between font-poppins lg:ml-72">
    <div class="grid grid-cols-12 gap-4 p-[30px]">
        <div class="h-auto col-span-12 mt-4 p-4 rounded-md shadow-md">
            <div class="flex flex-row justify-between">
                <div class="flex flex-row">
                    <div class="flex-none py-2 w-[10px] bg-slate-600 rounded-md"></div>
                    <div class="flex-none flex flex-col">
                        <h1 class="flex-none ml-3 my-auto">Ubah status order</h1>
                        <form action="/history-order/<%- r._id %>/update?_method=PUT" method="post">
                            <div class="h-auto flex ml-3 mt-1 pb-2 flex-col">
                                <select name="status" class="border rounded-md border-gray-500 p-1 pl-2 text-sm">
                                    <option value="Aktif" <%- r.status === 'Aktif' ? 'selected' : '' %>>Aktif</option>
                                    <option value="Proses" <%- r.status === 'Proses' ? 'selected' : '' %>>Proses</option>
                                    <option value="Selesai" <%- r.status === 'Selesai' ? 'selected' : '' %>>Selesai</option>
                                </select>
                            </div>
                            <button type="submit" class="mb-1 ml-3 bg-green-600 px-3 py-2 rounded-md hover:bg-green-800 hover:shadow-md text-white transition text-sm">Ubah Status</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="h-auto col-span-12 mt-4 p-4 rounded-md shadow-md">
            <div class="flex flex-col md:justify-between md:flex-row">
                <div class="flex flex-row">
                    <div class="flex-none mr-3 py-2 w-[10px] bg-slate-600 rounded-md"></div>
                    <div class="flex-none flex flex-col md:justify-between">
                        <h1>ID Transaksi</h1>
                        <p class="text-gray-400"><%- r.orderId %></p>
                        <p class="text-gray-400"><%- moment(r.createdAt).format('LLL'); %></p>
                        <p>Status: <span class="px-3 <%- r.status === 'Aktif' ? 'bg-green-300' : r.status === 'Proses' ? 'bg-yellow-300' : 'bg-red-300' %>"><%- r.status %></span></p>
                    </div>
                </div>
                <div class="flex flex-row mt-3 md:mt-0">
                    <div class="flex-none mr-3 py-2 w-[10px] bg-slate-600 rounded-md"></div>
                    <div class="flex-none flex flex-col md:justify-between">
                        <h1>Metode Pembayaran</h1>
                        <p class="text-gray-400"><%- r.payment.category %></p>
                        <p class="text-gray-400"><%- r.payment.name %></p>
                        <p class="text-gray-400"><%- r.payment.accountNumber %></p>
                    </div>
                </div>
                <div class="flex flex-row mt-3 md:mt-0">
                    <div class="flex-none mr-3 py-2 w-[10px] bg-slate-600 rounded-md"></div>
                    <div class="flex-none flex flex-col">
                        <h1>Customer</h1>
                        <p class="text-gray-400"><%- r.customer.name %></p>
                        <p class="text-gray-400"><%- r.customer.email %></p>
                        <p class="text-gray-400"><%- r.customer.phoneNumber %></p>
                    </div>
                </div>
            </div>
        </div>

        <div class="h-auto col-span-12 mt-4 p-4 rounded-md shadow-md">
            <div class="flex flex-row justify-between">
                <div class="flex flex-row">
                    <div class="flex-none py-2 w-[10px] bg-slate-600 rounded-md"></div>
                    <h1 class="flex-none ml-3 my-auto">Produk yang dibeli</h1>
                </div>
            </div>
            <div class="overflow-hidden flex flex-col">
                <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
                    <div class="py-2 inline-block min-w-full sm:px-6 lg:px-8">
                        <div class="overflow-hidden shadow-md rounded-md">
                            <table class="min-w-full">
                                <thead class="bg-gray-300">
                                <tr>
                                    <th scope="col" class="px-6 py-3 text-sm text-left text-gray-800 font-medium tracking-wider uppercase">
                                        ID Produk
                                    </th>
                                    <th scope="col" class="px-6 py-3 text-sm text-left text-gray-800 font-medium tracking-wider uppercase">
                                        Nama Produk
                                    </th>
                                    <th scope="col" class="px-6 py-3 text-sm text-left text-gray-800 font-medium tracking-wider uppercase">
                                        Harga
                                    </th>
                                    <th scope="col" class="px-6 py-3 text-sm text-left text-gray-800 font-medium tracking-wider uppercase">
                                        Qty
                                    </th>
                                    <th scope="col" class="px-6 py-3 text-sm text-left text-gray-800 font-medium tracking-wider uppercase">
                                        Total
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <% r.historyCart.map(item => { %>
                                    <tr class="bg-white border-b">
                                        <td class="py-4 px-6 text-sm font-medium text-gray-800 whitespace-nowrap">
                                            <%- item.productId %>
                                        </td>
                                        <td class="py-4 px-6 text-sm font-medium text-gray-800 whitespace-nowrap">
                                            <%- item.productName %>
                                        </td>
                                        <td class="py-4 px-6 text-sm font-medium text-gray-800 whitespace-nowrap">
                                            Rp <%- new Intl.NumberFormat('de-DE').format(item.productPrice) %>
                                        </td>
                                        <td class="py-4 px-6 text-sm font-medium text-gray-800 whitespace-nowrap">
                                            <%- item.qty %>
                                        </td>
                                        <td class="py-4 px-6 text-sm font-medium text-gray-800 whitespace-nowrap">
                                            Rp <%- new Intl.NumberFormat('de-DE').format(item.total) %>
                                        </td>
                                    </tr>
                                <% }) %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="h-auto col-span-12 mt-4 p-4 rounded-md shadow-md">
            <div class="flex flex-col md:justify-between md:flex-row">
                <div class="flex flex-row">
                    <div class="flex-none mr-3 py-2 w-[10px] bg-slate-600 rounded-md"></div>
                    <div class="flex-none flex flex-col md:justify-between">
                        <h1>Total belum pajak</h1>
                        <p class="text-red-400">Rp <%- new Intl.NumberFormat('de-DE').format(r.price) %></p>
                    </div>
                </div>
                <div class="flex flex-row mt-3 md:mt-0">
                    <div class="flex-none mr-3 py-2 w-[10px] bg-slate-600 rounded-md"></div>
                    <div class="flex-none flex flex-col md:justify-between">
                        <h1>Diskon</h1>
                        <p class="text-red-400">Rp <%- new Intl.NumberFormat('de-DE').format(r.discount) %></p>
                    </div>
                </div>
                <div class="flex flex-row mt-3 md:mt-0">
                    <div class="flex-none mr-3 py-2 w-[10px] bg-slate-600 rounded-md"></div>
                    <div class="flex-none flex flex-col md:justify-between">
                        <h1>Pajak</h1>
                        <p class="text-red-400"><%- r.tax %>%</p>
                    </div>
                </div>
                <div class="flex flex-row mt-3 md:mt-0">
                    <div class="flex-none mr-3 py-2 w-[10px] bg-slate-600 rounded-md"></div>
                    <div class="flex-none flex flex-col">
                        <h1>Total</h1>
                        <p class="text-green-400">Rp <%- new Intl.NumberFormat('de-DE').format(r.totalPrice) %></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="bg-gray-700 p-5 font-poppins">
        <p class="text-white m-auto text-center lg:text-left">TITIKOMA By Semicolon; Team</p>
    </div>
</div>

<%- include('../parts/footer.ejs') %>