<%- include('../parts/header.ejs', { title: "Detail Promosi - TITIKOMA" }) %>
<%- include('../parts/navbar.ejs') %>
<%- include('../parts/sidebar.ejs', { position: 'promo' }) %>

<div class="pt-[90px] h-auto shadow-md py-3 lg:ml-72">
    <div class="mx-[30px] text-gray-800 font-light">
        <a href="/promo" class="text-lg font-bold hover:underline hover:underline-offset-1">Promosi</a>
        >
        <a href="/promo/<%= r._id %>" class="text-lg font-bold hover:underline hover:underline-offset-1"><%= r.name %></a>
    </div>
</div>

<div class="flex flex-col h-screen justify-between font-poppins lg:ml-72">
    <div class="h-auto m-[30px] bg-white rounded-md shadow-md overflow-hidden">
        <form action="/promo/<%= r._id %>/update?_method=PUT" method="post">
            <div class="h-auto bg-gray-800 shadow-sm p-4">
                <h2 class="text-white font-bold">Ubah data promosi</h2>
            </div>

            <div class="h-auto p-4 md:grid md:grid-cols-12 md:gap-2">
                <div class="h-auto flex flex-col mb-3 md:col-span-3">
                    <label class="mb-1" for="code">Kode Promosi</label>
                    <input type="text" name="code" value="<%= r.code %>" class="border rounded-md border-gray-500 p-1 pl-2 font-thin text-sm" required placeholder="Masukkan kode promo..">
                </div>
                <div class="h-auto flex flex-col mb-3 md:col-span-3">
                    <label class="mb-1" for="name">Nama Promosi</label>
                    <input type="text" name="name" value="<%= r.name %>" class="border rounded-md border-gray-400 p-1 pl-2 font-thin text-sm" required placeholder="Masukkan nama promosi..">
                </div>
                <div class="h-auto flex flex-col mb-3 md:col-span-3">
                    <label class="mb-1" for="discountValue">Nilai Promosi</label>
                    <input type="text" name="discountValue" value="<%= r.discountValue %>" class="border rounded-md border-gray-400 p-1 pl-2 font-thin text-sm" required placeholder="5000">
                </div>
                <div class="h-auto flex flex-col mb-3 md:col-span-3">
                    <label class="mb-1" for="status">Status</label>
                    <select name="status" class="border rounded-md border-gray-400 p-1 pl-2 font-thin text-sm" required>
                        <option value="true" <%- r.status === true ? 'selected' : '' %>>Aktif</option>
                        <option value="false" <%- r.status === false ? 'selected' : '' %>>Non Aktif</option>
                    </select>
                </div>
                <div class="h-auto flex flex-col mb-3 md:col-span-6">
                    <label class="mb-1" for="startDate">Tanggal Mulai</label>
                    <input type="date" name="startDate" value="<%- moment.utc(r.startDate).format("YYYY-MM-DD") %>" class="border rounded-md border-gray-400 p-1 pl-2 font-thin text-sm" required placeholder="Masukkan tanggal promosi mulai..">
                </div>
                <div class="h-auto flex flex-col mb-3 md:col-span-6">
                    <label class="mb-1" for="expiryDate">Tanggal Berakhir</label>
                    <input type="date" name="expiryDate" value="<%= moment.utc(r.expiryDate).format("YYYY-MM-DD") %>" class="border rounded-md border-gray-400 p-1 pl-2 font-thin text-sm" required placeholder="Masukkan tanggal promosi berakhir..">
                </div>
            </div>

            <div class="h-auto bg-gray-200 p-2 flex justify-end">
                <button formaction="/promo/<%= r._id %>?_method=DELETE" formmethod="post" class="px-3 py-2 rounded-md border border-red-500 text-red-500 mr-2 text-sm hover:bg-red-500 hover:text-white transition duration-200">Hapus Promo</button>
                <button type="submit" class="bg-gray-700 px-3 py-2 rounded-md hover:bg-gray-900 hover:shadow-md text-white transition text-sm">Submit</button>
            </div>
        </form>
    </div>

    <div class="bg-gray-700 p-5 font-poppins">
        <p class="text-white m-auto text-center lg:text-left">TITIKOMA By Semicolon; Team</p>
    </div>
</div>

<%- include('../parts/footer.ejs') %>